// 初始化元素
@mixin divInit($w: 100%, $h: auto, $padding: 0 0, $margin: 0 0) {
    width: $w;
    height: $h;
    padding: $padding;
    margin: $margin;
    box-sizing: border-box;
}
// 文本溢出
@mixin textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// line-clamp
@mixin lineClamp($num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num; /*设置p元素最大4行，父元素需填写宽度才明显*/
    text-overflow: ellipsis;
    overflow: hidden;
}

// 居中
@mixin divCenter($left: 50%, $top: 50%, $trLeft: -50%, $trTop: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate3D($trLeft, $trTop, 0);
}
.masonry-container{
    @include divInit();
    max-width: 1080px;
    max-height: 752px;
    min-height: unset!important;
    overflow: hidden;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    ui-card-panel[id*=watcher_9292_Default]{
        max-width: 100%;
        box-sizing: border-box;
        position: static!important; 
        margin-bottom: 20px;
        overflow: hidden;
        border: none;
        border-radius: 20px;
        width: 100%;
        .nr-dashboard-cardpanel{
            width: 100%;
            .nr-dashboard-cardtitle{
                @include divInit(100%,auto,10px 10px);
                max-width: 100%;
                color: #000;
            }
            .nr-dashboard-cardcontainer{
                @include divInit(100%!important,auto,10px 10px);
                min-width: 100%;
                max-width: 100%;
            }
            md-card{
                background-color: transparent;
                width: 100%;
                min-width: 100%;
                box-sizing: border-box;
            }
        }
    }
}